.Mypage_wrapper.Text
  = render "users/side_bar"

  .Profile--Adress
    .Profile__Title 送り先情報を変更する
    .Profile--Adress__Form
      = form_with model: @address, url: "/users/addresses/#{current_user.id}", local: true do |f|
        = render "devise/shared/error_messages", resource: @address
        .FormField
          = f.label :last_name, "送り先氏名", class: "Form_label"
          %span (全角)
          %h4 必須
          .FormField__input
            .FormField__input--half
              = f.text_field :send_last_name, placeholder: "名字", autofocus: true, autocomplete: "send_last_name", class: "Profile__Form__Field"
            .FormField__input--half
              = f.text_field :send_first_name, placeholder: "名前", autocomplete: "send_first_name", class: "Profile__Form__Field"
        .FormField
          = f.label :last_name_kana, "送り先氏名カナ", class: "Form_label"
          %span (全角カタカナ)
          %h4 必須
          .FormField__input
            .FormField__input--half
              = f.text_field :send_last_name_kana, placeholder: "ミョウジ", autocomplete: "send_last_name_kana", class: "Profile__Form__Field"
            .FormField__input--half
              = f.text_field :send_first_name_kana, placeholder: "ナマエ", autocomplete: "send_first_name_kana", class: "Profile__Form__Field"
        .FormField
          = f.label "郵便番号", class: "Form_label"
          %span (半角数字、ハイフンなし)
          %h4 必須
          .FormField__input--post
            %span 〒
            = f.text_field :postal_code, autocomplete: "postal_code", class: "Profile__Form__Field"  
        .FormField
          = f.label "都道府県", class: "Form_label"
          %h4 必須
          .FormField__input
            .FormField__input--normal
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, class: "Profile__Form__Field"   
        .FormField
          = f.label "市町村", class: "Form_label"
          %span (全角)
          %h4 必須
          .FormField__input
            .FormField__input--normal
              = f.text_field :city, autocomplete: "city", class: "Profile__Form__Field"
        .FormField
          = f.label "番地", class: "Form_label"
          %h4 必須
          .FormField__input
            .FormField__input--normal
              = f.text_field :house_number, autocomplete: "house_number", class: "Profile__Form__Field"

        .FormField
          = f.label "部屋番号", class: "Form_label"
          .FormField__input
            .FormField__input--normal
              = f.text_field :room_number, autocomplete: "room_number", class: "Profile__Form__Field"

        .actions
          = f.submit "変更する", class: "Profile__Form__Btn--Save"