.HeaderUsers
  .HeaderUsers__logo
    = link_to image_tag("/assets/logo_users.png", size: "180x50"), root_path

.AccountPage
  .AccountPage__title
    Sign up    
  %h2 ＜ユーザー情報登録＞

  .AccountPage__form
    = form_for(@user, url: user_registration_path) do |f|
      = render "devise/shared/error_messages", resource: @user

      .FormField
        .FormField__label
          = f.label :nickname, "ニックネーム"
          %h4 必須
        .FormField__input--normal
          = f.text_field :nickname, placeholder: "ニックネーム", autofocus: true, autocomplete: "nickname"

      .FormField
        .FormField__label
          = f.label :email
          %h4 必須
        .FormField__input--normal
          = f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email"

      .FormField
        .FormField__label
          = f.label :password
          %span (半角英数字7文字以上)
          %h4 必須
        .FormField__input--normal
          = f.password_field :password, placeholder: "Password", autocomplete: "new-password"

      .FormField
        .FormField__label
          = f.label :password_confirmation, "確認用パスワード"
          %span (半角英数字7文字以上)
          %h4 必須
        .FormField__input--normal
          = f.password_field :password_confirmation, placeholder: "Password", autocomplete: "new-password"

      .FormField
        .FormField__label
          = f.label :last_name, "氏名"
          %span (全角)
          %h4 必須
        .FormField__input
          .FormField__input--half
            = f.text_field :last_name, placeholder: "名字", autofocus: true, autocomplete: "last_name"
          .FormField__input--half
            = f.text_field :first_name, placeholder: "名前", autofocus: true, autocomplete: "first_name"

      .FormField
        .FormField__label
          = f.label :last_name_kana, "氏名カナ"
          %span (全角カタカナ)
          %h4 必須
        .FormField__input
          .FormField__input--half
            = f.text_field :last_name_kana, placeholder: "ミョウジ", autofocus: true, autocomplete: "last_name_kana"
          .FormField__input--half
            = f.text_field :first_name_kana, placeholder: "ナマエ", autofocus: true, autocomplete: "first_name_kana"

      .FormField
        .FormField__label
          = f.label :birth_date, "生年月日"
          %h4 必須
        .FormField__input--birth
          = raw sprintf(f.date_select(:birth_date, use_month_numbers: true, start_year: 1920, end_year: (Time.now.year - 5), default: Date.new(1990, 1, 1), date_separator: '%s'), '年', '月') + '日'

      .FormField
        .FormField__label
          = f.label :tel_number,"電話番号"
          %span (半角数字、ハイフンなし)
          %br
        .FormField__input
          .FormField__input--normal
            = f.text_field :tel_number, autofocus: true, autocomplete: "tel_number"

      .actions
        = f.submit "次へ進む"

  .AccountPage__have
    アカウントを既に持っている方は
    = render "devise/shared/links"