.HeaderUsers
  .HeaderUsers__logo
    -# %a{ :href => '/' }
    = link_to image_tag src="/assets/logo_users.png", size: "180x70"

.AccountPage
  .AccountPage__title
    Sign up
  .AccountPage__have
    アカウントを既に持っている方は
    = render "devise/shared/links"
  .AccountPage__form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource

      .FormField
        .FormField__label
          = f.label :nickname, "ニックネーム"
          %h4 必須
        .FormField__input--normal
          = f.text_field :nickname, placeholder: "ニックネーム", autofocus: true, autocomplete: "nickname"

      .FormField
        .FormField__label
          = f.label :email
          %h4 必須
        .FormField__input--normal
          = f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email"

      .FormField
        .FormField__label
          = f.label :password
          %h4 必須
        .FormField__input--normal
          = f.password_field :password, placeholder: "Password(英数字7文字以上)", autocomplete: "new-password"

      .FormField
        .FormField__label
          = f.label :password_confirmation, "確認用Password"
          %h4 必須
        .FormField__input--normal
          = f.password_field :password_confirmation, placeholder: "Password(英数字7文字以上)", autocomplete: "new-password"

      .FormField
        .FormField__label
          = f.label :last_name, "氏名"
          %span (全角)
          %h4 必須
        .FormField__input
          .FormField__input--half
            = f.text_field :last_name, placeholder: "名字", autofocus: true, autocomplete: "last_name"
          .FormField__input--half
            = f.text_field :first_name, placeholder: "名前", autofocus: true, autocomplete: "first_name"

      .FormField
        .FormField__label
          = f.label :last_name_kana, "氏名カナ"
          %span (全角)
          %h4 必須
        .FormField__input
          .FormField__input--half
            = f.text_field :last_name_kana, placeholder: "ミョウジ", autofocus: true, autocomplete: "last_name_kana"
          .FormField__input--half
            = f.text_field :first_name_kana, placeholder: "ナマエ", autofocus: true, autocomplete: "first_name_kana"

      .FormField
        .FormField__label
          = f.label :birth_year,"生年月日"
          %h4 必須
          %br
        .FormField__input
          .FormField__input--birth
            = f.text_field :birth_year, autofocus: true, autocomplete: "birth_year"
          %span 年
          .FormField__input--birth
            = f.text_field :birth_month, autofocus: true, autocomplete: "birth_month"
          %span 月
          .FormField__input--birth
            = f.text_field :birth_day, autofocus: true, autocomplete: "birth_day"
          %span 日

      -# .FormField
      -#   .FormField__label
      -#     = f.label :send_last_name, "送付先氏名"
      -#     %span (全角)
      -#     %h4 必須
      -#   .FormField__input
      -#     .FormField__input--half
      -#       = f.text_field :send_last_name, placeholder: "名字", autofocus: true, autocomplete: "send_last_name"
      -#     .FormField__input--half
      -#       = f.text_field :send_first_name, placeholder: "名前", autofocus: true, autocomplete: "send_first_name"

      -# .FormField
      -#   .FormField__label
      -#     = f.label :send_last_name_kana, "送付先氏名カナ"
      -#     %span (全角)
      -#     %h4 必須
      -#   .FormField__input
      -#     .FormField__input--half
      -#       = f.text_field :send_last_name_kana, placeholder: "ミョウジ", autofocus: true, autocomplete: "send_last_name_kana"
      -#     .FormField__input--half
      -#       = f.text_field :send_first_name_kana, placeholder: "ナマエ", autofocus: true, autocomplete: "send_first_name_kana"

      -# .FormField
      -#   .FormField__label
      -#     = f.label :postal_code, "郵便番号"
      -#     %span (半角数字)
      -#     %h4 必須
      -#   .FormField__input--normal
      -#     = f.text_field :postal_code, placeholder: "郵便番号", autocomplete: "postal_code"

      -# .FormField
      -#   .FormField__label
      -#     = f.label :prefecture, "都道府県"
      -#     %span (全角)
      -#     %h4 必須
      -#   .FormField__input--normal
      -#     = f.text_field :prefecture, placeholder: "都道府県", autocomplete: "prefecture"

      -# .FormField
      -#   .FormField__label
      -#     = f.label :city, "市区町村"
      -#     %span (全角)
      -#     %h4 必須
      -#   .FormField__input--normal
      -#     = f.text_field :city, placeholder: "市区町村", autocomplete: "city"

      -# .FormField
      -#   .FormField__label
      -#     = f.label :house_number, "番地"
      -#     %span (全角)
      -#     %h4 必須
      -#   .FormField__input--normal
      -#     = f.text_field :house_number, placeholder: "番地", autocomplete: "house_number"

      -# .FormField
      -#   .FormField__label
      -#     = f.label :room_number, "マンション、アパート名"
      -#     %span (全角)
      -#     %h5 任意
      -#   .FormField__input--normal
      -#     = f.text_field :room_number, placeholder: "マンション名、部屋番号", autocomplete: "room_number"

      -# .FormField
      -#   .FormField__label
      -#     = f.label :tel_number, "電話番号"
      -#     %span (半角数字)
      -#     %h5 任意
      -#   .FormField__input--normal
      -#     = f.text_field :tel_number, placeholder: "電話番号", autocomplete: "tel_number"

      -# .FormField
      -#   .FormField__label
      -#     = f.label :profile_text, "プロフィール文章"
      -#     %h5 任意
      -#   .FormField__input--normal
      -#     = f.text_field :profile_text, placeholder: "自己紹介など", autocomplete: "profile_text"

      -# .FormField
      -#   .FormField__label
      -#     = f.label :profile_image, "プロフィール画像"
      -#     %h5 任意
      -#     = f.file_field :profile_image, class: "label"

      .actions
        = f.submit "アカウント作成"
