.User_item_box
  = link_to item_path(item.id), class: "Text" do
    .User_item_box__Content
      = image_tag item.images[0].src_url, size: "190x190"
      .User_item_box__Text
        .User_item_box__Text__Name
          = item.name
        .User_item_box__Text__Price
          = "¥#{item.price}"