.Side_bar.Text
  %ul.Side_bar__List
    %li
      = link_to user_path(current_user.id), class: "Mypage-nav-list__Item" do
        マイページ
        %i.fas.fa-chevron-right
      = link_to "#", class: "Mypage-nav-list__Item" do
        出品する
        %i.fas.fa-chevron-right
      = link_to "#", class: "Mypage-nav-list__Item" do
        出品した商品 - 出品中
        %i.fas.fa-chevron-right
      = link_to "#", class: "Mypage-nav-list__Item" do
        出品した商品 - 取引中
        %i.fas.fa-chevron-right
      = link_to "#", class: "Mypage-nav-list__Item" do
        出品した商品 - 売却済み
        %i.fas.fa-chevron-right
      = link_to users_sign_out_path, class: "Mypage-nav-list__Item" do
        購入した商品 - 取引中
        %i.fas.fa-chevron-right
      = link_to users_sign_out_path, class: "Mypage-nav-list__Item" do
        購入した商品 - 過去の取引
        %i.fas.fa-chevron-right
  %h3.Side_bar__Head 設定
  %ul.Side_bar__List
    %li
      = link_to edit_user_path(current_user.id), class: "Mypage-nav-list__Item" do
        プロフィール
        %i.fas.fa-chevron-right
      = link_to "#", class: "Mypage-nav-list__Item" do
        発送元・お届け先住所変更
        %i.fas.fa-chevron-right
      = link_to "#", class: "Mypage-nav-list__Item" do
        お支払い方法
        %i.fas.fa-chevron-right
      = link_to edit_user_registration_path(current_user.id), class: "Mypage-nav-list__Item" do
        メール/パスワード
        %i.fas.fa-chevron-right
      = link_to "#", class: "Mypage-nav-list__Item" do
        本人情報
        %i.fas.fa-chevron-right
      = link_to users_sign_out_path, data: { confirm: "ログアウトしますか？" }, class: "Mypage-nav-list__Item" do
        ログアウト
        %i.fas.fa-chevron-right