.Mypage_wrapper.Text
  = render "side_bar"

  .Profile
    .Profile__Title プロフィールの編集
    .Profile__Form
      = form_for(current_user) do |f|
        = attachment_image_tag @user, :profile_image, fallback:"no-profile-image.jpg", class: "Profile__Form__Image"
        = f.label :profile_image, "画像を選択", class: "Profile__Form__Btn--Image"
        = f.file_field :profile_image, style: "display:none;"
        .FormField
          = f.label "ニックネーム", class: "Form_label"
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "Profile__Form__Field"
        .FormField
          = f.label "自己紹介", class: "Form_label"
          = f.text_area :profile_text, rows: "6", class: "Profile__Form__Field--Large"
        
        = f.submit "変更する", class: "Profile__Form__Btn--Save"


-# <%= form_for(@user,url:user_path(current_user.id)) do |f| %>
-#         <table class='table shadow'>
-#             <tr class='text-center'>
-#                 <td>
-#                     <%= attachment_image_tag @user,:profile_image,size:'600x300',fallback:'no_image.png' %><br><br>
-#                     <%= f.label :profile_image,'プロフィール画像をアップロード', class: 'btn btn-secondary rounded-pill %>
-#                     <%= f.file_field :profile_image, style: 'display:none;' %>
-#                 </td>
-#             </tr>
-#         </table>
-# <% end %>