.Wrapper
  .Side_bar
    %h3.Side_bar__Head 設定
    %ul.Side_bar__List
      %li
        = link_to "#", class: "Mypage-nav-list__Item"
          プロフィール
      %li
        = link_to "#", class: "Mypage-nav-list__Item"
          発送元・お届け先住所変更
      %li
        = link_to "#", class: "Mypage-nav-list__Item"
          お支払い方法
      %li
        = link_to "#", class: "Mypage-nav-list__Item"
          メール/パスワード
      %li
        = link_to "#", class: "Mypage-nav-list__Item"
          本人情報
      %li
        = link_to "#", class: "Mypage-nav-list__Item"
          電話番号の確認
      %li
        = link_to "#", class: "Mypage-nav-list__Item"
          ログアウト  
  .Main
    .User_info
      .User_info__Image
      .User_info__Center
        .User_info__Left__Text
          .User_info__Left__Text__Image
          .User_info__Left__Text__Number
      .User_info__Right
