.Mypage_wrapper.Text
  = render "side_bar"
  .Mypage
    .User_info
      = attachment_image_tag @user, :profile_image, fallback: "no-profile-image.jpg", class: "User_info__Image"
      .User_info__Nickname
        = @user.nickname
      .User_info__Text
        = simple_format(@user.profile_text)
        
    .User_items
      .User_items__Title
        = "#{@user.nickname}さんの商品一覧"
      %ul.User_items__Tabs
        %li.User_items__Tabs__Tab
          = link_to "出品中(#{@selling_items.count})", "#", class: "User_item Text Active"
        %li.User_items__Tabs__Tab
          = link_to "売却済み(#{@sold_items.count})", "#", class: "User_item Text"
        %li.User_items__Tabs__Tab
          = link_to "購入済み(#{@bought_items.count})", "#", class: "User_item Text"
      %ul.User_items__Contents
        %li.User_items__Contents__Content.Show
          - if @selling_items.empty?
            = image_tag "logo_gray.jpg", width: "100px", class: "User_items__Contents__Content__Image"
            %br
            .User_items__Contents__Content__Text 出品中の商品がありません
          - else
            .User_items_box
              - @selling_items.each do |item|
                = render partial: "item", locals: { item: item }
        %li.User_items__Contents__Content
          - if @sold_items.empty?
            = image_tag "logo_gray.jpg", width: "100px", class: "User_items__Contents__Content__Image"
            %br
            .User_items__Contents__Content__Text 売却済みの商品がありません
          - else
            .User_items_box
              - @sold_items.each do |item|
                = render partial: "item", locals: { item: item }
        %li.User_items__Contents__Content
          - if @bought_items.empty?
            = image_tag "logo_gray.jpg", width: "100px", class: "User_items__Contents__Content__Image"
            %br
            .User_items__Contents__Content__Text 購入済みの商品がありません
          - else
            .User_items_box
              - @bought_items.each do |item|
                = render partial: "item", locals: { item: item }