.header
  .header-content
    .main-header
      .header-icon
        = link_to image_tag("logo.png", size: "150x40"), root_path
      = form_with(url: search_items_path, local: true, method: :get, class: "search-box") do |form|
        = form.text_field :keyword, placeholder: "キーワードから探す", class: "class-serch__text"
        = form.submit "検索",class: 'search-submit', type: "submit"
    .header-nav
      .left-list
        .left-list__category
          カテゴリー
        .left-list__brand
          ブランド
      .right-list
        - if user_signed_in?
          .right-list__mypage
            = link_to user_path(current_user.id), class:"singup-content" do
              マイページ
        - else
          .right-list__login
            = link_to user_session_path, class:"singup-content" do
              ログイン
          .right-list__singup
            = link_to new_user_registration_path, class:"singup-content" do
              新規会員登録