.main__pickupCategoly
  %h2.head ピックアップカテゴリー
  .itemBox
    .itemHead
      = link_to "#" do
        %h3.title 新規投稿商品
    .itemLists
      .itemList
        = link_to "#" do
          %figure.itemList--img
            = image_tag "IMG_9072.jpeg", size: ""
          .itemList--body
            %h3.itemName ee
            .itemDetail
              %ul
                %li 1000円
                %li 
                  %i.fa.fa-star.likeIcon 0
              %p （税込）
      .itemList
        = link_to "#" do
          %figure.itemList--img
            = image_tag "a001.png", size: ""
          .itemList--body
            %h3.itemName ee
            .itemDetail
              %ul
                %li 1000円
                %li 
                  %i.fa.fa-star.likeIcon 0
              %p （税込）
      .itemList
        = link_to "#" do
          %figure.itemList--img
            = image_tag "a004.png", size: ""
          .itemList--body
            %h3.itemName ee
            .itemDetail
              %ul
                %li 1000円
                %li 
                  %i.fa.fa-star.likeIcon 0
              %p （税込）
      .itemList
        = link_to "#" do
          %figure.itemList--img
            = image_tag "a007.png", size: ""
          .itemList--body
            %h3.itemName ee
            .itemDetail
              %ul
                %li 1000円
                %li 
                  %i.fa.fa-star.likeIcon 1
              %p （税込）
.main__pickupBrand
  %h2.head  ピックアップブランド
  .itemBox
    .itemHead
      = link_to "#" do
        %h3.title アーカイバ
    .itemLists.itemLists--bottom
      .itemList
        = link_to "#" do
          %figure.itemList--img
            = image_tag "IMG_9072.jpeg", size: ""
          .itemList--body
            %h3.itemName ee
            .itemDetail
              %ul
                %li 1000円
                %li 
                  %i.fa.fa-star.likeIcon 0
              %p （税込）
      .itemList
        = link_to "#" do
          %figure.itemList--img
            = image_tag "a001.png", size: ""
          .itemList--body
            %h3.itemName ee
            .itemDetail
              %ul
                %li 1000円
                %li 
                  %i.fa.fa-star.likeIcon 0
              %p （税込）
      .itemList
        = link_to "#" do
          %figure.itemList--img
            = image_tag "a004.png", size: ""
          .itemList--body
            %h3.itemName ee
            .itemDetail
              %ul
                %li 1000円
                %li 
                  %i.fa.fa-star.likeIcon 0
              %p （税込）
      .itemList
        = link_to "#" do
          %figure.itemList--img
            = image_tag "a007.png", size: ""
          .itemList--body
            %h3.itemName ee
            .itemDetail
              %ul
                %li 1000円
                %li 
                  %i.fa.fa-star.likeIcon 1
              %p （税込）

