.main 
  .showMain
    .contentLeftqq
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name
            = @item.name
          .itemBox__body 
            %ul.itemBox__body__wholeImage
              %li.itemBox__body__wholeImage__row
                = image_tag @image.src_url, size: "550x440"
                %ul.itemBox__body__wholeImage__row__subImages
                  - @images.each do |thumbnail|
                    %li.fade-list
                      = image_tag thumbnail.src_url, class: "fade-list__image"
          .itemBox__price
            %span
              = "¥#{@item.price}"
            .itemBox__price__complement
              （税込）
          - unless user_signed_in? && current_user.id == @item.seller_id
            = link_to "購入画面に進む", "#", class: "buyBtn"
          .itemDetail
            = @item.text
          .table 
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 
                    = @item.seller.nickname
                  /# 後にtdにlink_to
                %tr
                  %th カテゴリー
                  %td 
                    = @category_parent.name
                    = @category_child.name
                    = @category_grandchild.name
                    -# = link_to "#{@category_parent.name}", parent_category_path(id: @category_parent)
                    -# = link_to "#{@category_child.name}", child_category_path(id: @category_child)
                    -# = link_to "#{@category_grandchild.name}", grandchild_category_path(id: @category_grandchild)
                  /# 後にtdにlink_to
                %tr
                  %th ブランド
                  %td 
                    = @brand
                  /# 後にtdにlink_to
                %tr
                  %th 商品の状態
                  %td 
                    = @item.condition
                  /# 後にtdにlink_to
                %tr
                  %th 配送料の負担
                  %td 
                    = @item.delivery_fee
                  /# 後にtdにlink_to
                %tr
                  %th 発送元地域
                  %td 
                    = @prefecture
                  /# 後にtdにlink_to
                %tr
                  %th 発送日の目安
                  %td 
                    = @item.days
                  /# 後にtdにlink_to
          .optionBtn
            %ul
              %li.optionBtn__likeBtn
                %i.fa.fa-star.likeIcon お気に入り 1
            %ul.report
              %li.optionBtn__reportBtn
                %a
                  %i.fa.fa-flag.likeIcon 不適切な商品の通報
                  /#後にidとリンク付与
        - if user_signed_in? && current_user.id == @item.seller_id
          .btnBox
            = link_to "編集する", "#", class: "editBtn"
            = link_to "削除する", item_path(@item.id), method: :delete,data: { confirm: "削除しますか？" }, class: "deleteBtn"
        .commentBox
          %ul.commentBox__commentContents
          %form.commentBox__newComment 
            %textarea
            %p.noticeMessage
              相手のことを考え、丁寧なコメントを心がけましょう。
              %br
              不適切な発言は利用制限や退会処分となる可能性があります。
            %br
            %button
              %i.fa.fa-comment.likeIcon コメントする
      %ul.frontBack
        %li.front <前の商品
        %li.back >後ろの商品
      .sameCategory
        レディースをもっと見る 
