.Wrapper
  = render 'items/info_body'
  = render 'items/items_body'
= link_to "#" do
  .sellBtn 
    = link_to new_item_path, class: "item-link" do
      %span.sellBtn__text 出品する
      = image_tag "icon_camera.png", size: "50x50"
